$primary-color: #6ed1b5;
$active-color: #e5e5e5;
body {
    background-color: white;
    font-size: 14px;
}

h4 {
    padding-left: 15px;
}

a {
    color: $primary-color;
}

a:hover,
a:focus {
    color: black;
}

.control-label {
    font-size: 16px;
    color: grey;
    .label-select {
        color: $primary-color;
        font-style: italic;
    }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $active-color;
    background-color: transparent;
}

.blockquote {
    border-left: 5px solid $primary-color;
}

.pagination>li>a,
.pagination>li>span {
    color: $primary-color;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    cursor: pointer;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    background-color: $primary-color;
}

.navbar-default .navbar-brand {
    color: white;
}

.input-group {
    width: 100%;
}

.input-lg {
    height: 56px;
}

.items-container {
    .article {
        height: 420px;
        border: 2px white solid;
        h4 {
            padding-left: 0px;
            color: $primary-color;
        }
    }
    .article:hover {
        border: 2px $primary-color solid;
        border-radius: 3px;
        cursor: pointer;
    }
    p {
        padding-left: 5px;
        font-style: italic;
        color: grey;
    }
}

.btn-default {
    color: white;
    background-color: $primary-color;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.dropdown-menu {
    width: 550px;
    padding: 10px;
    li {
        display: inline-block;
        float: left;
        overflow: auto;
        padding: 2px;
    }
    li>a {
        border-left: 1px $active-color solid;
        padding: 7 px;
    }
}

.form-control {
    margin-bottom: 10px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: white;
    background-color: #353535;
    border-top: 1px solid $active-color;
    p {
        padding: 15px 0;
    }
}


/* Menu item grid */

.row {
    padding: 15px 0px;
    border-top: 1px solid #e5e5e5;
    h3 {
        padding-left: 15px;
    }
}

.jumbotron {
    p {
        font-size: 18px;
    }
    span {
        font-style: italic;
        font-size: 16px;
        margin-right: 5px;
    }
    .item-image {
        float: left;
        margin-right: 20px;
        height: 275px;
    }
}

.item-image {
    max-width: 100%;
    height: 250px;
    width: 210px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.item-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.well {
    text-align: center;
    padding: 0 20px;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    .dropdown-menu {
        width: 940px;
        li>a {
            padding: 15px 7px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-menu {
        width: 1140px;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron {
        text-align: center;
        .item-image {
            float: none;
            height: 275px;
        }
    }
    .dropdown-menu {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .dropdown-menu {
        width: 260px;
    }
}
