/* Make the masthead heading the same height as the navigation */

.navbar {
    background-color: #2196f3;
}

.navbar-default .navbar-brand {
    color: white;
}

.btn-default {
    color: white;
    background-color: #2196f3;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.input-group {
    width: 100%;
    input {
        padding: 0px;
    }
}

.input-group-btn {
    width: 1px;
}

.dropdown-menu li {
    display: inline-block;
    float: left;
    overflow: auto;
}

.form-control {
    margin-bottom: 10px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Menu item grid */

.row {
    padding: 25px 0px;
    border-top: 1px solid #e5e5e5;
}

.row-eq-height {
    height: 450px;
}

.item-image {
    max-width: 100%;
    height: 250px;
    width: 210px;
}

.item-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
