<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="control-label" for="search">Filter by '<span class="label-select">{{book.selectType === ''? 'All Books': book.selectType}}</span>'</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{book.selectType === ''? 'All Books': book.selectType}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="book.changeType('')">All Books</a></li>
                        <li ng-repeat="item in book.categories"><a ng-click="book.changeType(item)">{{item}}</a></li>
                        <li ng-repeat="item in book.genres"><a ng-click="book.changeType(item)">{{item}}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control input-lg" id="search" ng-model="book.search" ng-change="book.change()" placeholder="Search Book title or Author name...">
            </div>
            <h5><small>Search term:<br/> </small>{{(book.search) ? "'" + book.search + "'": ''}}</h5>
        </div>
    </div>
</div>
</div>
<div class="row">
    <h3>Book Collection <small> showing {{(book.arrayData.length > 8 )? 9 : book.arrayData.length}} of {{book.arrayData.length}}</small></h3>
    <div class="items-container">
        <article class="col-sm-6 col-md-4 col-xs-12 article" ng-repeat="item in book.getData() | startFrom:book.currentPage*book.pageSize | limitTo:book.pageSize" ui-sref="item({id: item.id})">
            <h4>{{item.name}}</h4>
            <div class="well">
                <img class="item-image" ng-src="{{item.cover}}" alt="{{item.name}}">
                <p>by {{item.author.name}}</p>
                <p>published {{book.relativeTime(item.published)}}</p>
                <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{item.likes}}</p>
            </div>
        </article>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" ng-click="book.prev()" target="_self">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="num in book.numberOfPages() track by $index" class="{{book.checkIndex($index)}}" ng-click="book.currentPage=$index">
                <a target="_self">{{$index + 1}}</a>
            </li>
            <li>
                <a aria-label="Next" ng-click="book.next()" target="_self">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
