<ul class="breadcrumb">
    <li><a href="#/">Library</a></li>
    <li class="active">{{item.book.name}}</li>
</ul>
<div class="row">
    <h4>{{item.book.name}}</h4>
    <div class="col-md-3 col-sm-3">
        <img class="item-image" src="{{item.book.cover}}" alt="{{item.book.name}}">
    </div>
    <div class="col-md-9 col-sm-9">
        <dl>
            <dt>Author</dt>
            <dd><img class="item-avatar" src="{{item.book.author.avatar}}" alt="{{item.book.author.name}}"> {{item.book.author.name}}</dd>
            <dt>Likes</dt>
            <dd>{{item.book.likes}}</dd>
            <dt>Published</dt>
            <dd>{{item.book.published.substring(0, 10)}}</dd>
            <dt>Genre</dt>
            <dd>{{item.book.genre.category}}, {{item.book.genre.name}}</dd>
        </dl>
    </div>
</div>
<div class="row">
    <blockquote>
        <p>{{item.book.description}}</p>
        <small>Description from <cite title="Source Title">Reader</cite></small>
    </blockquote>
</div>
<div class="row">
    <h4>Introduction Preview</h4>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1" target="_self">Chapter 1</a></li>
            <li><a data-toggle="tab" href="#menu2" target="_self">Chapter 2</a></li>
            <li><a data-toggle="tab" href="#menu3" target="_self">Chapter 3</a></li>
            <li><a data-toggle="tab" href="#menu4" target="_self">Chapter 4</a></li>
            <li><a data-toggle="tab" href="#menu5" target="_self">Chapter 5</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" ng-class='{in:$first, active:$first}' ng-repeat="chp in item.book.introduction track by $index" id="{{'menu' + ($index + 1)}}">
                <h5>Chapter {{$index + 1}}</h5>
                <p>{{chp.content}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4>Recommended books</h4>
    <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="rec in item.recBooks">
        <h4><a ui-sref="item({id: rec.id})">{{rec.name}}</a></h4>
        <img class="item-image" ng-src="{{rec.cover}}" alt="{{rec.name}}">
        <p>Author: {{rec.author.name}}</p>
        <p>Likes: {{rec.likes}}</p>
        <p>Published {{rec.published.substring(0, 10)}}</p>
    </div>
</div>
