<ul class="breadcrumb">
    <li><a href="#/">Library</a></li>
    <li class="active">{{item.book.name}}</li>
</ul>
<div class="row">
    <div class="jumbotron">
        <img class="item-image" src="{{item.book.cover}}" alt="{{item.book.name}}">
        <h2>{{item.book.name}}</h2>
        <p><img class="item-avatar" src="{{item.book.author.avatar}}" alt="{{item.book.author.name}}"> {{item.book.author.name}}</p>
        <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{item.book.likes}}</p>
        <p><span>published in</span> {{item.book.published.substring(0, 10)}}</p>
        <p><span>{{item.book.genre.category}}, {{item.book.genre.name}}</span></p>
    </div>
</div>
<div class="row">
    <blockquote class="blockquote">
        <p>{{item.book.description}}</p>
        <small>Comment from <cite title="Source Title">Reader</cite></small>
    </blockquote>
</div>
<div class="row">
    <h4>Introduction Preview</h4>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1" target="_self">Chapter 1</a></li>
            <li><a data-toggle="tab" href="#menu2" target="_self">Chapter 2</a></li>
            <li><a data-toggle="tab" href="#menu3" target="_self">Chapter 3</a></li>
            <li><a data-toggle="tab" href="#menu4" target="_self">Chapter 4</a></li>
            <li><a data-toggle="tab" href="#menu5" target="_self">Chapter 5</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" ng-class='{in:$first, active:$first}' ng-repeat="chp in item.book.introduction track by $index" id="{{'menu' + ($index + 1)}}">
                <h5>Chapter {{$index + 1}}</h5>
                <p>{{chp.content}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4>Recommended books</h4>
    <div class="items-container">
        <article class="col-sm-6 col-md-4 col-xs-12 article" ng-repeat="rec in item.recBooks" ui-sref="item({id: rec.id})">
            <h4>{{rec.name}}</h4>
            <div class="well">
                <img class="item-image" ng-src="{{rec.cover}}" alt="{{rec.name}}">
                <p>by {{rec.author.name}}</p>
                <p>published in {{rec.published.substring(0, 4)}}</p>
                <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{rec.likes}}</p>
            </div>
        </article>
    </div>
</div>
